.mdl-mini-footer {
    background-image: url(../images/footer-background.png);
    background-size: cover;
    padding: auto;
    justify-content: center;
}

.mdl-layout__header {
    background-color:rgb(35,83,155);
}

.mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(255, 255, 255, 0.11);
    /*color: #000;*/
}
