.mdl-mini-footer {
    background-image: url(../images/footer-background.png);
    background-size: cover;
    padding: auto;
    justify-content: center;
}

.mdl-layout__header {
    background-color:rgb(35,83,155);
}

.mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(255, 255, 255, 0.11);
    /*color: #000;*/
}

.error {
    color:#d50000;
    margin-top: 3px;
    position:absolute;
    font-size:12px;
    display:block;
    visibility: visible;
}

.mdl-textfield.is-invalid .error {
    visibility:hidden;
}

.clickable:hover{
    cursor: pointer;
    color: red;
}

.clickableReg:hover{
    cursor: pointer;
    color: red;
}

.paginate .mdl-button{
    min-width: 35px;
    padding: 0;
}

a:disabled{
    background-color: rgba(255,0,0,0.5);
    color: white;
    border-radius: 5px;
}

dialog {
    position: absolute;
    left: 0; right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    display: block;
}

dialog:not([open]) {
    display: none;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-button--file {
    right: -10px;
    top: -40px;
}

dialog + .backdrop {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.1);
}

._dialog_overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}

dialog.fixed {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
}