.textLabel{
    vertical-align: middle;
    padding: 24px 0;
}
.error {
    color:#d50000;
    position:absolute;
    font-size:12px;
    display:block;
    visibility: visible;
}

.mdl-textfield.is-invalid .error {
    visibility:hidden;
}

form{
    padding: 0 5%;
}